DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=
# DB_DSN=pgsql:host=localhost;port=5432;dbname=tu_base

# Solo si quieres que el modulo DTE use otra conexion distinta.
# DTE_DB_DSN=pgsql:host=localhost;port=5432;dbname=tu_base_dte
# DTE_DB_HOST=localhost
# DTE_DB_PORT=5432
# DTE_DB_NAME=
# DTE_DB_USER=
# DTE_DB_PASS=
